@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-dark: #050b11;
    --bg-card: #25252d;
    --primary-cyan: #ffb006;
    --text-white: #ffffff;
    --text-gray: #a2b3c2;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: var(--text-white);
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

/* background */
.hero-section-wrapper {
    position: relative;
    width: 100%;
    background:
        radial-gradient(circle at 85% 20%, rgba(248, 207, 2, 0.20) 0%, rgba(248, 207, 2, 0.05) 40%, transparent 70%),
        radial-gradient(circle at 15% 50%, rgba(57, 48, 3, 0.12) 0%, rgba(161, 135, 7, 0.02) 50%, transparent 80%);

    background-attachment: fixed; 
    
}

.glow-overlay {
    position: absolute;
    top: 0;
    right: -10%;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, rgba(248, 207, 2, 0.2) 0%, transparent 70%);
    pointer-events: none;
    z-index: 1;
}

/* --- Header / Navbar --- */
header {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    flex-wrap: nowrap !important;
    background: transparent;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-area h2 {
    font-size: 1.5rem;
}

.logo-area h2::first-letter {
    color: var(--primary-cyan);
    font-size: 2.6rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: var(--text-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-cyan);
}

.hire-btn {  
    background: linear-gradient(135deg, var(--primary-cyan), #efac2f);
    color: var(--text-white);
    padding: 12px 32px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600;
    box-shadow: 0 4px 20px rgba(248, 207, 2, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hire-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgba(248, 207, 2, 0.6);
}

/* HAMBURGER */
.menu-toggle {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-toggle:hover {
    color: #e6b30a;
    transform: translateY(-3px);
}

/* CLOSE BUTTON */
.close-btn {
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}

.close-btn:hover {
    color: #e6b30a;
    transform: translateY(-3px);
}

/* responsive */
@media (max-width:768px) {

    header {
        padding: 20px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: block;
    }

    .hire-btn {
        display: none;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 280px;
        height: 100vh;
        background: #111;
        transition: .4s ease;
        z-index: 999;
        padding-top: 90px;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-left: 30px;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    nav ul {
        gap: 0;
    }

    .close-btn {
        display: block;
    }
}

/* --- Hero Content Layout --- */
.hero-container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8% 40px 8%;
}

.hero-content {
    flex: 1;
    max-width: 600px;
}

.hero-content h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
}

.hero-content h1 {
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
    display: inline-block;
    background: linear-gradient(135deg, #ffffff 0%, var(--primary-cyan) 50%,#fade06 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 20px rgba(248, 207, 2, 0.35));

}

.hero-content p {
    color: var(--text-gray);
    font-size: 1.06rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.action-row {
    display: flex;
    align-items: center;
    gap: 25px;
}

.download-btn {
    border: 1px solid var(--primary-cyan);
    color: var(--text-white);
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(3, 174, 210, 0.1);
    background-color: var(--primary-cyan);
}

.download-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(248, 207, 2, 0.4);
}

.social-links {
    display: flex;
    gap: 12px;
}

.social-icon {
    width: 42px;
    height: 42px;
    border: 1px solid rgba(248, 207, 2, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-cyan);
    text-decoration: none;
    transition: all 0.3s ease;
    background: rgba(5, 11, 17, 0.5);
    
}

.social-icon:hover {
    border-color: var(--primary-cyan);
    background-color: var(--primary-cyan);
    color: var(--bg-dark);
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(248, 207, 2, 0.4);
}

.hero-image-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.image-card {
    background-color: var(--bg-card);
    border: 1px solid rgba(248, 207, 2, 0.6);
    border-radius: 50%;
    padding: 18px;
    transition: .3s ease;
    box-shadow: 0 4px 20px rgba(248, 207, 2, 0.6);
    position: relative;

}

.image-card::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, transparent 60%);
    pointer-events: none;
}

.image-card:hover {
    transform: rotate(5deg) scale(1.03);
}

.image-card img {
    width: 370px;
    height: 370px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    filter: brightness(1.1);
    filter: contrast(1.2);
    border: 5px solid var(--text-white);
}


/* --- Responsive --- */
@media (max-width: 1024px) {

    header,
    .hero-container,
    .stats-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .image-card img {
        width: 290px;
        height: 330px;
    }
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 20px;
    }

    .hero-image-wrapper {
        justify-content: center;
        margin-bottom: 30px;
    }

    .image-card {
        transform: rotate(0deg);
    }

    .action-row {
        justify-content: center;
    }

    .stats-container {
        justify-content: center;
        gap: 40px;
    }
}

/* about us section */
.about-me {
    position: relative;
    padding: 120px 8% 80px 8%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* shadow text effect */
.shadow-text {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 0.03);
    text-transform: uppercase;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}

.about-me .section-header h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0px;
    color: #efac2f;
}
.about-me .section-header .line {
    background-color: #efac2f; 
    width: 60px;
    height: 2px;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    margin-bottom: 40px;
}
.about-container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

/* Left side  */
.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img {
    background-color:  #222229;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease;
}

.about-img:hover {
    transform: translateY(-5px);
}

.about-img img {
    width: 330px;
    height: 380px;
    object-fit: cover;
    display: block;
}

/* Right side  */
.right-side {
    flex: 1.3;
}

.right-side h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}

.highlight-text {

    color: #efac2f;
}

.right-side h2 {
    font-size: 0.89rem;
    font-weight: 600;
    color: #efac2f;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.right-side p {
    color: #a2b3c2;
    font-size: 1.05rem;
    line-height: 1.7;
    margin-bottom: 35px;
}

/* btn */
.about-btn {
    background: transparent;
    border: 2px solid #efac2f;
    color: #efac2f;
    padding: 12px 32px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-btn:hover {
    background-color: #efac2f;
    color:#050b11;
    box-shadow: 0 4px 20px rgba(248, 207, 2, 0.4);
    transform: translateY(-2px);
}

/* responsive */
@media (max-width: 992px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .right-side h2 {
        text-align: center;
    }

    .shadow-text {
        font-size: 5rem;
        top: 20px;
    }
}

@media (max-width:778px) {
    .shadow-text {
        font-size: 4.5rem;
        letter-spacing: 3;
    }
}


/* skills section */
.skills-section {
    position: relative;
    padding: 120px 8% 80px 8%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    color:#efac2f;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #efac2f;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    margin-bottom: 40px;
}

/* grid layout*/
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    margin-top: 25px;
}

/* CARDS */
.skill-card {
    background: #b798601c;
    border: 1px solid #efac2f;
    border-radius: 20px;
    padding: 25px 20px;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px #efac2f; 
    position: relative;
}

.skill-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 18px #efac2f, 0 0 18px #f5d13c;
}

/* HEADER */
.skill-head {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
}
.skill-head svg {
    width: 42px;
    height: 42px;
    fill: #efac2f; 
}

/* HEADER IMAGE */
.skill-head img {
    width: 32px;
    filter: drop-shadow(0 0 5px #efac2f); 
}

/* SKILL BAR */
.skill-bar {
    width: 100%;
    height: 12px;
    background: rgba(255, 122, 0, 0.15);
    border-radius: 50px;
    overflow: hidden;
}

.skill-fill {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #efac2f, #f5d13c);
    border-radius: 50px;
    box-shadow: inset 0 0 5px #efac2f, inset 0 0 10px #f5d13c; 
    transition: width 1.8s ease-in-out;
    position: relative;
}

/* BAR EFFECT  */
.skill-fill::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #efac2f;
    box-shadow: 0 0 10px #efac2f, 0 0 15px #f5d13c;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(0.6);
        opacity: 0.4;
    }

    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

/* PERCENT  */
.skill-percent {
    position: absolute;
    right: 20px;
    top: 28px;
    font-weight: 600;
    color: #efac2f;
    text-shadow: 0 0 5px #efac2f, 0 0 10px #f5d13c;
}

/* responsive */
@media (max-width:992px) {

    .skills-grid {
        gap: 30px;
    }
}

@media (max-width:567px) {

    .skills-grid {
        gap: 20px;
        padding: 0 5%;
    }

}

/* projects section */
.projects-section {
    position: relative;
    padding: 120px 8% 80px 8%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-section .section-header h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: #efac2f;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.section-header .line {
    width: 60px;
    height: 2px;
    background-color: #efac2f;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    margin-bottom: 40px;
}

/* PROJECTS GRID */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin-top: 30px;
}

/* PROJECTS CARDS */
.project-card {
    background-color: black;
    /*border: 1px solid #03AED2;*/
    border: 1px solid #efac2f;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 15px #efac2f;
    transition: all 0.5s ease;
    position: relative;
}

.project-card:hover {
    transform: translateY(-10px) scale(1.01);
    box-shadow: 0 0 20px #efac2f, 0 0 30px #000000;
}

/* PROJECT IMAGE */
.project-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    transition: transform 0.5s ease;
}

/* PROJECT CONTENT */
.project-content {
    padding: 20px;
}

.project-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    /*color: #03AED2;*/
    color: #efac2f;
}

.project-content p {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 10px;
    line-height: 1.5;
}

/* PROJECT TAGS */
.project-tags span {
    display: inline-block;
    margin: 3px 6px 0 0;
    padding: 3px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #efac2f;
    background: #8a791b3f;
    box-shadow: 0 0 5px #efac2f, 0 0 5px #fade06;
    
}

/* PROJECTS BUTTON */
.project-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: 20px;
    padding: 8px 12px;
    border-radius: 50px;
    background: #8a791b3f;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 0 5px #efac2f, 0 0 10px #fade06;
    transition: all 0.3s ease;
}


.project-btn:hover {
    box-shadow: 0 0 10px #efac2f, 0 0 20px #fade06;
}

/* SVG */
.project-btn svg {
    display: inline-block;
    vertical-align: middle;
}


.project-btn a {
    color: white;
    text-decoration: none;
}

/* resume */
.resume-section {
    position: relative;
    padding: 120px 8% 80px 8%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #efac2f;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #efac2f;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    margin-bottom: 40px;
}

/* CONTAINER */
.resume-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    z-index: 2;
}

/* BOX */
.resume-box {
    flex: 1;
    padding: 10px 100px;
}

/* TITLE */
.box-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
.box-title .icon {
    font-size: 28px;
    background-color: rgba(239, 172, 47, 0.15);
    box-shadow: 0 0 20px rgba(239, 172, 47, 0.3); 
}
.box-title .icon svg {
    font-size: 28px;
    fill: #efac2f;
}

.box-title h3 {
    font-size: 28px;
    
} 

/* TIMELINE */
.timeline {
    border-left: 2px solid rgba(236, 206, 58, 0.479);
    padding-left: 20px;
}

.timeline-item {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
}

.timeline-item .dot {
    position: absolute;
    left: -30px;
    top: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #efac2f;
    box-shadow: 0 0 10px #efac2f;
}

.timeline-item .dot:hover {
    box-shadow: 0 0 30px #efac2f, 0 0 30px #e6b30a;
}

.content h4 {
    color: #fff;
    margin-bottom: 5px;
    font-size: 19px;
}

.content p {
    color: #aaa;
    font-size: 14px;
}

/* responsive */
@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
    }
}

/* certificates  section */
.certificates-section {
    position: relative;
    padding: 120px 8% 80px 8%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #efac2f;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #efac2f;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    margin-bottom: 40px;
}


/* certificates cards */
.certificates-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    /* padding: 0 7%; */
    margin-top: 50px;
}

/* CARDS */

.certificate-card {
    background: rgb(3, 3, 3);
    border: 1px solid rgba(237, 206, 50, 0.2);
    border-radius: 20px;
    padding: 20px 20px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
    max-width: 320px;
    border-top: 2px solid #efac2f;
    border-bottom: 2px solid #efac2f;
}

.certificate-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(220, 189, 9, 0.6);
    border-color: #e7c103;
}

/* IMAGE */

.certificate-card .img img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

/* TEXT */
.certificate-card h2 {
    font-size: 20px;
    margin-bottom: 7px;
    color: white;
}

.certificate-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #aaa;
}


/* SERVICES SECTION */
.services-section {
    position: relative;
    padding: 120px 8% 80px 8%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Main Heading Title */
.section-header h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #efac2f;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #efac2f;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    margin-bottom: 40px;
}

/* SERVICES GRID */
.services-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* SERVICES CARDS */
.services-card {
    background: rgb(3, 3, 3);
    border: 1px solid rgba(237, 206, 50, 0.3);
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
    max-width: 320px;
}

.services-card:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 0 10px 20px rgba(220, 189, 9, 0.6);
    border-color: #efac2f;
}

.services-card .service-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    background: rgba(234, 204, 85, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.services-card:hover .service-icon {
    background: #f1d23456;
    box-shadow: 0 0 5px #efac2f, 0 0 5px #504912;
}

/* TEXT CONTENT  */
.services-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}

.services-card p {
    font-size: 15px;
    color: #ccc;
    line-height: 1.6;
}


/* contact */
.contact-section {
    position: relative;
    padding: 120px 8% 80px 8%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Main Heading Title */
.section-header h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #efac2f;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #efac2f;
    margin: 15px auto 0 auto;
    border-radius: 2px;
    margin-bottom: 40px;
}

/* container */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

/* form card */

.contact-form-box {
    width: 550px;
    background: rgba(18, 16, 10, 0.1);
    border: 1px solid rgba(237, 206, 50, 0.3);
    backdrop-filter: blur(15px);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(220, 189, 9, 0.15);
}

.contact-form-box h2 {
    color: #efac2f;
    margin-bottom: 10px;
}

.contact-form-box p {
    color: #bdbdbd;
    margin-bottom: 25px;
}

/* inputs */

.input-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.input-row input {
    flex: 1;
}

.contact-form-box input,
.contact-form-box textarea {
    width: 100%;
    padding: 14px;
    background: #111;
    border: 1px solid rgba(239, 199, 52, 0.2);
    border-radius: 10px;
    color: white;
    outline: none;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
    border-color: #efac2f;
    box-shadow: 0 0 25px rgba(220, 189, 9, 0.15);
}

/* button */

.contact-form-box button {
    margin-top: 20px;
    padding: 14px 35px;
    border: none;
    border-radius: 30px;
    background: #efac2f;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

.contact-form-box button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px #efac2f;
}

/* right side */

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon {
    width: 55px;
    height: 55px;
    background: rgba(234, 204, 85, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efac2f;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(234, 204, 85, 0.4);

}

.info-item h4 {
    margin-bottom: 5px;
    color: #fff;
}

.info-item p {
    color: #bdbdbd;
}

/* responsive */

@media(max-width:768px) {

    .contact-container {
        flex-direction: column;
    }

    .contact-form-box {
        width: 100%;
    }

    .input-row {
        flex-direction: column;
    }
}

/* footer  */

.footer {
    margin-top: 20px;
    position: relative;
    padding: 70px 8% 20px;
    text-align: center;
    border-top: 1px solid rgba(234, 204, 85, .2);
    background:
        radial-gradient(circle at center,
            rgba(234, 204, 85, .12),
            transparent 70%);
}

.footer-logo {
    font-size: 2rem;
    margin-bottom: 15px;
    color: white;
}

.footer-logo::first-letter {
    color: #efac2f;
    font-size: 2.5rem;
}

.footer-content p {
    max-width: 600px;
    margin: auto;
    color: #bdbdbd;
    line-height: 1.8;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

.footer-socials a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #efac2f;
    border: 1px solid rgba(234, 204, 85, 0.3);
    transition: .3s;
}

.footer-socials a:hover {
    background: #efac2f;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 0 20px #efac2f;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 40px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.footer-links a:hover {
    color: #efac2f;
}

.footer-bottom {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .08);
}

.footer-bottom p {
    color: #888;
    font-size: .95rem;
}

/* scroll to top */
.scrolltop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 25px #efac2f;
    transition: 0.3s;
}

.scrolltop svg{
    width: 25px;
}

.scrolltop:hover {
    transform: translateY(-5px);
}
/* Mobile for screens */
@media (max-width: 768px) {
    .scrolltop {
        right: 40px; 
        bottom: 40px;
    }
}
